[submodule "api/account"]
	path = api/account
	url = https://github.com/Cynthia-Valente-Microsservicos/account.git
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/Cynthia-Valente-Microsservicos/auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/Cynthia-Valente-Microsservicos/auth-service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/Cynthia-Valente-Microsservicos/gateway-service.git
[submodule "api/exchange"]
	path = api/exchange
	url = https://github.com/Cynthia-Valente-Microsservicos/exchange.git
[submodule "api/exchange-service"]
	path = api/exchange-service
	url = https://github.com/Cynthia-Valente-Microsservicos/exchange-service.git
[submodule "api/order-service"]
	path = api/order-service
	url = https://github.com/Cynthia-Valente-Microsservicos/order-service.git
[submodule "api/order"]
	path = api/order
	url = https://github.com/Cynthia-Valente-Microsservicos/order.git
[submodule "api/product"]
	path = api/product
	url = https://github.com/Cynthia-Valente-Microsservicos/product.git
[submodule "api/product-service"]
	path = api/product-service
	url = https://github.com/Cynthia-Valente-Microsservicos/product-service.git
[submodule "website"]
	path = website
	url = https://github.com/Cynthia-Valente-Microsservicos/website.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/Cynthia-Valente-Microsservicos/account-service.git
